{% extends "clientes/base.html" %}
{% load meus_filtros %}

{% block titulo %}
Cadastro de clientes
{% endblock titulo %}

{% block conteudo %}
    <h1>Cadastro de clientes</h1>
    <!-- {{ form.as_p }} criação do formulário de forma automática, abaixo a forma manual -->
    <form method="post">

        {% csrf_token %}

        <div class="form-group">
            <label>Nome: </label>
            {{ form.nome|addclass:'form-control' }}
            {{ form.nome.errors }}
        </div>

        <div class="form-group">
            <label>Sexo: </label>
            {{ form.sexo|addclass:'form-control' }}
            {{ form.sexo.errors }}
        </div>

        <div class="form-group">
            <label>Data de Nascimento: </label>
            {{ form.data_nascimento|addclass:'form-control' }}
            {{ form.data_nascimento.errors }}
        </div>

        <div class="form-group">
            <label>Email: </label>
            {{ form.email|addclass:'form-control' }}
            {{ form.email.errors }}
        </div>

        <div class="form-group">
            <label>Profissão: </label>
            {{ form.profissao|addclass:'form-control' }}
            {{ form.profissao.errors }}
        </div>

        <div>
            <input class="btn btn-primary" type="submit" name="Cadastrar" value="Cadastrar">

            <a href="{% url 'listar_clientes' %}">
                <button type="button" class="btn btn-primary">Listar clientes</button>
            </a>
        </div>

    </form>
{% endblock conteudo %}