<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>

    <!-- {{ form.as_p }} criação do formulário de forma automática, abaixo a forma manual -->
    <div>
        <label>Nome: </label>
        {{ form.nome }}

    </div>

    <div>
        <label>Sexo: </label>
        {{ form.sexo }}
    </div>

    <div>
        <label>Data de Nascimento: </label>
        {{ form.data_nascimento }}
    </div>

    <div>
        <label>Email: </label>
        {{ form.email }}
    </div>

    <div>
        <label>Profissão: </label>
        {{ form.profissao }}
    </div>

</body>

</html>